--
-- Create model OrderItem
--
CREATE TABLE `store_orderitem` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `quantity` integer NOT NULL, `price` numeric(10, 2) NOT NULL, `book_id` integer NOT NULL, `order_id` bigint NOT NULL);
ALTER TABLE `store_orderitem` ADD CONSTRAINT `store_orderitem_book_id_290bb879_fk_store_book_id` FOREIGN KEY (`book_id`) REFERENCES `store_book` (`id`);
ALTER TABLE `store_orderitem` ADD CONSTRAINT `store_orderitem_order_id_acf8722d_fk_store_order_id` FOREIGN KEY (`order_id`) REFERENCES `store_order` (`id`);
