--
-- Add field email to staff
--
ALTER TABLE `store_staff` ADD COLUMN `email` varchar(254) DEFAULT 'staff@example.com' NOT NULL UNIQUE;
ALTER TABLE `store_staff` ALTER COLUMN `email` DROP DEFAULT;
--
-- Add field password to staff
--
ALTER TABLE `store_staff` ADD COLUMN `password` varchar(255) DEFAULT '123456' NOT NULL;
ALTER TABLE `store_staff` ALTER COLUMN `password` DROP DEFAULT;
--
-- Add field is_active to staff
--
ALTER TABLE `store_staff` ADD COLUMN `is_active` bool DEFAULT b'1' NOT NULL;
ALTER TABLE `store_staff` ALTER COLUMN `is_active` DROP DEFAULT;
--
-- Alter field role on staff
--
-- (no-op)
