--
-- Create model Book
--
CREATE TABLE `store_book` (`id` integer AUTO_INCREMENT NOT NULL PRIMARY KEY, `title` varchar(255) NOT NULL, `author` varchar(255) NOT NULL, `price` numeric(10, 2) NOT NULL, `stock_quantity` integer NOT NULL);
--
-- Create model Cart
--
CREATE TABLE `store_cart` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `is_active` bool NOT NULL);
--
-- Create model Customer
--
CREATE TABLE `store_customer` (`id` integer AUTO_INCREMENT NOT NULL PRIMARY KEY, `name` varchar(255) NOT NULL, `email` varchar(254) NOT NULL UNIQUE, `password` varchar(255) NOT NULL);
--
-- Create model Payment
--
CREATE TABLE `store_payment` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `method_name` varchar(100) NOT NULL, `status` varchar(50) NOT NULL);
--
-- Create model Shipping
--
CREATE TABLE `store_shipping` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `method_name` varchar(100) NOT NULL, `fee` numeric(10, 2) NOT NULL);
--
-- Create model Staff
--
CREATE TABLE `store_staff` (`id` integer AUTO_INCREMENT NOT NULL PRIMARY KEY, `name` varchar(255) NOT NULL, `role` varchar(100) NOT NULL);
--
-- Create model CartItem
--
CREATE TABLE `store_cartitem` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `quantity` integer NOT NULL, `book_id` integer NOT NULL, `cart_id` bigint NOT NULL);
--
-- Add field customer to cart
--
ALTER TABLE `store_cart` ADD COLUMN `customer_id` integer NOT NULL , ADD CONSTRAINT `store_cart_customer_id_e7ee89e3_fk_store_customer_id` FOREIGN KEY (`customer_id`) REFERENCES `store_customer`(`id`);
--
-- Create model Order
--
CREATE TABLE `store_order` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `total_price` numeric(10, 2) NOT NULL, `created_at` datetime(6) NOT NULL, `customer_id` integer NOT NULL, `payment_id` bigint NULL, `shipping_id` bigint NULL);
--
-- Create model Rating
--
CREATE TABLE `store_rating` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `score` integer NOT NULL, `book_id` integer NOT NULL, `customer_id` integer NOT NULL);
ALTER TABLE `store_cartitem` ADD CONSTRAINT `store_cartitem_book_id_9e07efda_fk_store_book_id` FOREIGN KEY (`book_id`) REFERENCES `store_book` (`id`);
ALTER TABLE `store_cartitem` ADD CONSTRAINT `store_cartitem_cart_id_4f60ac05_fk_store_cart_id` FOREIGN KEY (`cart_id`) REFERENCES `store_cart` (`id`);
ALTER TABLE `store_order` ADD CONSTRAINT `store_order_customer_id_13d6d43e_fk_store_customer_id` FOREIGN KEY (`customer_id`) REFERENCES `store_customer` (`id`);
ALTER TABLE `store_order` ADD CONSTRAINT `store_order_payment_id_49852fdc_fk_store_payment_id` FOREIGN KEY (`payment_id`) REFERENCES `store_payment` (`id`);
ALTER TABLE `store_order` ADD CONSTRAINT `store_order_shipping_id_89006545_fk_store_shipping_id` FOREIGN KEY (`shipping_id`) REFERENCES `store_shipping` (`id`);
ALTER TABLE `store_rating` ADD CONSTRAINT `store_rating_customer_id_book_id_3e3ba77e_uniq` UNIQUE (`customer_id`, `book_id`);
ALTER TABLE `store_rating` ADD CONSTRAINT `store_rating_book_id_790299f4_fk_store_book_id` FOREIGN KEY (`book_id`) REFERENCES `store_book` (`id`);
ALTER TABLE `store_rating` ADD CONSTRAINT `store_rating_customer_id_e216565d_fk_store_customer_id` FOREIGN KEY (`customer_id`) REFERENCES `store_customer` (`id`);
